@import 'node_modules/kenga-buttons/theme.css';
@import 'node_modules/kenga-containers/theme.css';
@import 'node_modules/kenga-grid/theme.css';
@import 'node_modules/kenga-menu/theme.css';
@import './icons/css/fontello.css';

.p-image-paragraph-column {
    text-align: center;
}

.icon-scissors:before {
    transform: scaleY(-1);
}

.icon-space {
    visibility: hidden;
}
.icon-space:before { content: '\e800'; }

.p-toolbar {
    background: #4267b2;
    border-bottom: 1px solid #29487d;
}

.p-toolbar > button:disabled:hover,
.p-toolbar > button {
    border: none;
    background: transparent;
    padding: 10px;
}

.p-toolbar > button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.p-toolbar > button > .p-image::before {
    color: white;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.p-toolbar > button:active > .p-image::before {
    text-shadow: none;
}

.p-toolbar > button:active {
    left: 1px;
    top: 1px;
}

.p-toolbar > button:disabled:active {
    left: 0px;
    top: 0px;
}

.p-toolbar > button:disabled > .p-image::before {
    color: lightgray;
    text-shadow: none;
}

.p-toolbar > .p-image-paragraph > .p-image {
    font-size: 18px;
}

.p-menu-item > .p-image {
    font-size: 16px;
}

.p-menu-item > .p-paragraph {
    font-size: 12px;
}

.p-menu-item > .p-image {
    padding-left: 5px;
    padding-right: 5px;
    color: #4b4b4b;
}

.p-menu-item > .p-paragraph {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-left: 1px solid rgba(0, 0, 0, .15);
}

.p-menu-item[disabled] > .p-paragraph,
.p-menu-item[disabled] > .p-image {
    color: gray;
}

.p-menu-separator {
    border-top: 1px solid rgba(0, 0, 0, .15);
    margin-left: 10px;
    margin-right: 10px;
}

.p-menu {
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    background-color: white;
}

.p-menu,
.p-button {
    border-radius: 3px;
}

.p-menu-item:hover {
    background-color: #4267b2;
}

.p-menu-item-submenu::after {
    content: '\e802';
    font-family: fontello;
    font-style: normal;
    font-size: 12px;
    color: #4b4b4b;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -6px;
}

.p-grid-columns-chevron {
    background: transparent;
}

.p-grid-columns-chevron::before {
    content: '\e809';
    font-family: fontello;
    font-style: normal;
    font-size: 10px;
    color: #4267b2;
    line-height: normal;
    position: relative;
    top: 7px;
}

.p-winnie-widgets {
    padding: 500px;
}

.p-winnie-widgets > .p-widget {
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    border-radius: 3px;
    background: whitesmoke;
}

.p-winnie-widget {
    outline: 1px dashed rgba(80, 40, 190, .5);
}

.p-winnie-widget-hover {
    outline: 1px dashed rgb(80, 40, 190);
    cursor: pointer;
}

.p-winnie-container-dnd-target {
    outline: 3px dashed rgba(80, 40, 190, .5) !important;
    cursor: pointer;
}

.p-winnie-widget-selected {
    outline: 2px dashed rgba(80, 40, 190, .5);
}

.p-winnie-decoration {
    position: absolute;
    display: inline-block;
    border: solid 2.5px rgba(165, 42, 42, .8);
    border-radius: 5px;
    margin-left: -2.5px;
    margin-top: -2.5px;
}

.p-winnie-decoration-left-top {
    cursor: nw-resize;
}

.p-winnie-decoration-left-middle,
.p-winnie-decoration-right-middle {
    cursor: ew-resize;
}

.p-winnie-decoration-left-bottom {
    cursor: sw-resize;
}

.p-winnie-decoration-middle-top,
.p-winnie-decoration-middle-bottom {
    cursor: ns-resize;
}

.p-winnie-decoration-right-top {
    cursor: ne-resize;
}

.p-winnie-decoration-right-bottom {
    cursor: se-resize;
}

.p-winnie-view {
    background: #e9ebee;
    border: 1px solid rgba(0, 0, 0, .15);
}

.p-winnie-ground {
    background: #f6f7f9;
}

.p-split-horizontal > .p-split-divider {
    cursor: ew-resize;
    border-left: 1px solid rgba(0, 0, 0, .15);
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.p-split-vertical > .p-split-divider {
    cursor: ns-resize;
    border-top: 1px solid rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.p-winnie-palette-explorer > .p-split-divider {
    border: none;
}

.p-widget-category-header {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding: 5px;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.p-widget-category-header > .p-image {
    color: #444;
    font-size: 12px;
}

.p-widget-category-header > .p-paragraph {
    font-size: 16px;
    color: #787878;
}
.p-widget-category-header:hover > .p-paragraph {
    color: #444;
}

.p-widget-palette-item > .p-paragraph {
    font-size: 12px;
}

.p-widget-palette-item > .p-paragraph,
.p-widget-palette-item > .p-image {
    color: #787878;
}

.p-widget-palette-item:hover > .p-paragraph,
.p-widget-palette-item:hover > .p-image {
    color: #444;
}

.p-widget-palette-item {
    padding: 5px;
}

.p-widget-palette-item > .p-image {
    font-size: 64px;
}

.p-widget-palette-item {
    background: #e9ebee;
    border-radius: 3px;
}

.p-widget-category-content {
}

.p-grid-cell {
    font-size: 12px;
}

.p-winnie-properties-header{
    font-size: 12px;
    font-weight: bold;
    color: #444;
}

.p-winnie-left-sizer,
.p-winnie-right-sizer {
    padding-left: 5px;
    cursor: ew-resize;
}

.p-winnie-right-sizer {
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.p-winnie-palette {
    border-right: 1px solid rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.p-winnie-explorer {
    border-right: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.p-winnie-property-edited {
    font-weight: bold;
}

.p-grid-cell-editor {
    font-size: 12px;
    border: none;
}

.p-widget {
    font-size: 12px;
}

.p-grid-cell > .p-winnie-cell-editor {
    border: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.p-winnie-selection-rect {
    border: 1px dashed #4267b2;
}

.p-winnie-visual-root {
    font-weight: bold;
}

.p-winnie-hints {
    line-height: normal;
    font-size: 16px;
    color: lightgray;
}
.p-winnie-hints > ul {
    list-style-type: none;
}

.p-winnie-hint {
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}

.p-toolbar-chevron {
    text-align: center;
    color: lightgray;
}

.p-toolbar-chevron:hover {
    color: white;
}

.p-tabs-chevron {
    text-align: center;
    color: brown;
    background: whitesmoke;
    border-top: 1px solid rgba(0, 0, 0, .15);
    border-left: 1px solid rgba(0, 0, 0, .15);
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.p-tabs-chevron:hover {
    color: darkred;
}

.p-tab-caption-close-tool::after,
.p-toolbar-chevron-left::before,
.p-tabs-chevron-left::before,
.p-toolbar-chevron-right::before,
.p-tabs-chevron-right::before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.p-toolbar-chevron-left::before,
.p-tabs-chevron-left::before,
.p-toolbar-chevron-right::before,
.p-tabs-chevron-right::before {
    position: relative;
    top: 50%;
    margin-top: -0.5em;
}

.p-toolbar-chevron-left::before,
.p-tabs-chevron-left::before {
    content: '\e82d';
}

.p-toolbar-chevron-right::before,
.p-tabs-chevron-right::before {
    content: '\e80a';
}

.p-tabs-captions-shell {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.p-tab-caption {
    border-top: 1px solid rgba(0, 0, 0, .15);
    border-left: 1px solid rgba(0, 0, 0, .15);
    border-right: 1px solid rgba(0, 0, 0, .15);
    margin-left: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: lightgray;
}

.p-tab-caption:hover {
    background: whitesmoke;
}

.p-tab-caption-selected {
    background: whitesmoke;
}

.p-tab-caption-text {
    padding: 5px;
}

.p-tab-caption-close-tool::after {
    content: '\e827';
    position: relative;
    top: 50%;
    margin-top: -0.5em;
    color: #787878;
}

.p-tab-caption-close-tool:hover::after {
    color: #444;
}
.p-container {
    overflow-clip: ;
}