@import 'node_modules/kenga-buttons/theme.css';
@import 'node_modules/kenga-containers/theme.css';
@import 'node_modules/kenga-grid/theme.css';
@import 'node_modules/kenga-menu/theme.css';
@import './icons/css/fontello.css';

.p-image-paragraph-column {
    text-align: center;
}

/* TODO: remove after update of kenga-labels */
.p-image,
.p-paragraph {
    line-height: normal;
}
/**/
/* TODO: Remove after kenga update */
.p-widget {
    font-family: Helevica, Arial, sans-serif;
}
/**/
/* TODO: Remove after kenga-menu update */
.p-menu-item {
    white-space: nowrap;
}
.p-menu-item > input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
}
/**/

.icon-scissors:before {
    transform: scaleY(-1);
}

.icon-space {
    visibility: hidden;
}
.icon-space:before { content: '\e800'; }

.p-toolbar {
    background: #4267b2;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #29487d;
}

.p-toolbar > button:disabled:hover,
.p-toolbar > button {
    border: none;
    background: transparent;
    padding: 10px;
}

.p-toolbar > button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.p-toolbar > button > .p-image::before {
    color: white;
    text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.p-toolbar > button:active > .p-image::before {
    text-shadow: none;
}

.p-toolbar > button:active {
    left: 1px;
    top: 1px;
}

.p-toolbar > button:disabled:active {
    left: 0px;
    top: 0px;
}

.p-toolbar > button:disabled > .p-image::before {
    color: lightgray;
    text-shadow: none;
}

.p-toolbar > .p-image-paragraph > .p-image {
    font-size: 18px;
}

.p-menu-item > .p-image {
    font-size: 16px;
}

.p-menu-item > .p-paragraph {
    font-size: 12px;
}

.p-menu-item > .p-image {
    padding-left: 5px;
    padding-right: 5px;
    color: #4b4b4b;
}

.p-menu-item > .p-paragraph {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid rgba(0, 0, 0, .15);
}

.p-menu-item[disabled] > .p-paragraph,
.p-menu-item[disabled] > .p-image {
    color: gray;
}

.p-menu-separator {
    border-top: 1px solid rgba(0, 0, 0, .15);
    margin-left: 10px;
    margin-right: 10px;
}

.p-menu {
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    background-color: white;
}

.p-menu,
.p-button {
    border-radius: 3px;
}

.p-menu-item:hover {
    background-color: #4267b2;
}

.p-menu-item-submenu::after {
    content: '\e802';
    font-family: fontello;
    font-style: normal;
    font-size: 12px;
    color: #4b4b4b;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -6px;
}

.p-grid-columns-chevron {
    background: transparent;
}

.p-grid-columns-chevron::before {
    content: '\e809';
    font-family: fontello;
    font-style: normal;
    font-size: 10px;
    color: #4267b2;
    line-height: normal;
    position: relative;
    top: 7px;
}

.p-winnie-widgets {
    padding: 500px;
}

.p-winnie-widgets > div {
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    border-radius: 3px;
    background: #f6f7f9;
}

.p-winnie-view {
    background: #e9ebee;
    border: 1px solid rgba(0, 0, 0, .15);
}

.p-winnie-ground {
    background: #f6f7f9;
}

.p-split-divider {
    cursor: ns-resize;
}

.p-widget-category-header {
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    padding: 5px;
    margin-left: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.p-widget-category-header > .p-image {
    color: #444;
    font-size: 12px;
}

.p-widget-category-header > .p-paragraph {
    font-size: 16px;
    color: #787878;
}
.p-widget-category-header:hover > .p-paragraph {
    color: #444;
}

.p-widget-palette-item > .p-paragraph {
    font-size: 12px;
}

.p-widget-palette-item > .p-paragraph,
.p-widget-palette-item > .p-image {
    color: #787878;
}

.p-widget-palette-item:hover > .p-paragraph,
.p-widget-palette-item:hover > .p-image {
    color: #444;
}

.p-widget-palette-item {
    padding: 5px;
}

.p-widget-palette-item > .p-image {
    font-size: 64px;
}

.p-widget-palette-item {
    background: #e9ebee;
    border-radius: 3px;
}

.p-widget-category-content {
}

.p-grid-cell {
    font-size: 12px;
}

.p-winnie-properties-header{
    font-size: 12px;
    font-weight: bold;
    color: #444;
}

.p-winnie-left-sizer,
.p-winnie-right-sizer {
    padding-left: 5px;
    cursor: ew-resize;
}

.p-winnie-right-sizer {
    border-right: 1px solid rgba(0, 0, 0, .15);
}

.p-winnie-palette {
    border-right: 1px solid rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.p-winnie-explorer {
    border-right: 1px solid rgba(0, 0, 0, .15);
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.p-winnie-property-edited {
    font-weight: bold;
}

.p-grid-cell-editor {
    font-size: 12px;
    border: none;
}

.p-holy-grail-column {
    /* TODO: Review of display of Holly Grail container in all containers*/
    display: flex !important;
}

.p-grid-cell-editor {
    padding-left: 10px;
    padding-right: 10px;
}

.p-widget {
    font-size: 12px;
}
