@import 'node_modules/kenga-buttons/theme.css';
@import 'node_modules/kenga-containers/theme.css';
@import 'node_modules/kenga-grid/theme.css';
@import 'node_modules/kenga-menu/theme.css';
@import './icons/flaticon.css';

/* TODO: remove after kenga-menu update*/
.p-menu-item > .p-paragraph,
.p-menu-item > input[type=check],
.p-menu-item > input[type=radio] {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}
/**/

/* TODO: remove after kenga-labels update*/
.p-image-paragraph-row > .p-image,
.p-image-paragraph-row > .p-paragraph {
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}
/**/

/* TODO: remove after kenga-containers update*/
.p-flow {
    line-height: normal;
    overflow: hidden;
}
.p-scroll > .p-widget {
    position: absolute;
    left: 0px;
    top: 0px;
}
/**/

.flaticon-space {
    visibility: hidden;
}

.p-toolbar {
    background: #4267b2;
    border-bottom: 1px solid #29487d;
}

.p-toolbar > button:disabled:hover,
.p-toolbar > button {
    border: none;
    background: transparent;
    padding-left: 10px;
    padding-right: 10px;
}

.p-toolbar > button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.p-toolbar > button > .p-image::before {
    color: white;
    text-shadow: 1px 1px 2px #505050;
}

.p-toolbar > button:active > .p-image::before {
    text-shadow: none;
}

.p-toolbar > button:active {
    left: 1px;
    top: 1px;
}

.p-toolbar > button:disabled:active {
    left: 0px;
    top: 0px;
}

.p-toolbar > button:disabled > .p-image::before {
    color: lightgray;
    text-shadow: none;
}

.p-image-paragraph > .p-image,
.p-menu-item > .p-image {
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
}

.p-paragraph {
    font-family: Helevica, Arial, sans-serif;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
}

.p-menu-item > .p-image {
    padding-left: 5px;
    padding-right: 5px;
    color: #4b4b4b;
}

.p-menu-item > .p-paragraph {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid rgba(0, 0, 0, .15);
}

.p-menu-separator {
    border-top: 1px solid rgba(0, 0, 0, .15);
    margin-left: 10px;
    margin-right: 10px;
}

.p-menu {
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    background-color: white;
}

.p-menu,
.p-button {
    border-radius: 3px;
}

.p-menu-item:hover {
    background-color: #4267b2;
}

.p-menu-item-submenu::after {
    content: "\f100";
    font-family: Flaticon;
    font-style: normal;
    font-size: 10px;
    color: #4b4b4b;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -6px;
}

.p-grid-columns-chevron {
    background: transparent;
}

.p-grid-columns-chevron::before {
    content: "\f101";
    font-family: Flaticon;
    font-style: normal;
    font-size: 14px;
    color: #4267b2;
    line-height: normal;
    position: relative;
    top: 7px;
}

.p-tool-separator {
    border-left: 1px solid lightgray;
    height: 25px !important;
    top: 2px;
}

.p-winnie-widgets {
    padding: 500px;
}

.p-winnie-widgets > div {
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
}

.p-winnie-view {
    background: #e9ebee;
}

.p-winnie-ground {
    background: #f6f7f9;
}

